@import 'globals'
@import '_animations'

.header
  background-color: $gold;
  font-family: $sans-serif;
.header-content
  max-width: 96rem;
  padding: 2rem;
  center()

+sm-and-up()
  .header-content
    padding-top: 4rem;
+lg-and-up()
  .header-content
    padding-left: 16rem;
    padding-right: 16rem;

.time
  font-size: .875rem;
  margin-bottom: .5rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: .1em;

.h3
  font-size: 2.25rem;
  max-width: 20em;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0;
+md-and-up()
  .h3
    font-size: 3rem;
+lg-and-up()
  .h3
    font-size: 6rem;

.h3-text
  background-color: $black-90;
  line-height: 1.5;
  color: white;
  padding: .25rem;
  letter-spacing: -.05em;

.h4
  font-size: 1.5rem;
  font-weight: 100;
  font-style: italic;
  font-family: georgia, serif;

.h5
  font-size: .875rem;
  text-transform: uppercase;
  color: $black-80;
  letter-spacing: .1em;

.content
  padding: 2rem;
  font-family: georgia, serif;
  center()

+lg-and-up()
  .content
    padding-left: 16rem;
    padding-right: 16rem;
    max-width: 96rem;

.paragraf-md
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: georgia, serif;
  max-width: 30em;

+sm-and-up()
  .paragraf-md
    font-size: 1.5rem;

.quote
  font-size: .875rem;
  line-height: 1.5rem;
  font-family: georgia, serif;
  max-width: 30em;
  font-style: italic;
  padding-left: 2rem;
  border-left-style: solid;
  border-left-width: 1px;
  border-color: $gold;
  margin-bottom: 2rem;
+sm-and-up()
  .quote
    font-size: 1rem;

.paragraf-sm
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 30em;

+sm-and-up()
  .paragraf-sm
    font-size: 1.25rem;

.mb2
  margin-bottom: 2rem;