@keyframes slideInFromLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.slide-in {
	animation:slideInFromLeft ease-in 1;
	animation-fill-mode:forwards;
	animation-duration:300ms;
}
