sm-and-up()
    @media screen and (min-width: 30em)
      {block}

md-and-up()
    @media screen and (min-width: 30em) and (max-width: 60em)
      {block}

lg-and-up()
    @media screen and (min-width: 60em)
      {block}

center()
  margin-left: auto
  margin-right: auto
